<head>
  <link rel="stylesheet" type="text/css" href="../public/centerss/application.css">
</head>

<h1> Welcome to the shopping website of the future </h1>

<% if @session == nil %>
	<p> Please sign in to start placing your order </p>
	<form action='/login' method='post'>
		<input type='text' placeholder='Username' name='username'>
		<input type='password' placeholder='password' name='password'>
		<input type='submit' value='Log In'>
	</form>
<%end%>

<% if @session == nil %>
	<a href='/signup'> If you do not already have an account, please click here to signup </a>
<%end%>

<% if @session%>
	<a href='/products'> Click here to look at the available products </a>
<% end %>


<% if @session%>
	<form action='/logout' method='post'>
		<input class='logout' type='submit' value='Log Out'>
	</form>
	<form action='/cart' method='get'>
		<input class='cart' type='submit' value='View your cart'>
	</form>
	<form action='/products' method='get'>
		<input class='product' type='submit' value='View Products'>
	</form>
<% end %>
